<aside class="sidebar">
  <div class="author-info">
    <img src="{{ site.sidebar.author.image | relative_url }}" 
         alt="{{ site.sidebar.author.name }}" class="author-img">
    <h3>{{ site.sidebar.author.name }}</h3>
    <p>{{ site.sidebar.author.bio }}</p>
  </div>

  <div class="sidebar-section">
    <h4>Connect:</h4>
    <ul class="sidebar-links">
      {% for link in site.sidebar.author.links %}
        <li><a href="{{ link[1] }}">{{ link[0] | capitalize }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="sidebar-section">
    <h4>Categories</h4>
    <ul class="sidebar-links">
      {% for category in site.categories %}
        <li>
          <a href="{{ '/categories/' | append: category[0] | downcase | append: '/' | relative_url }}">
            {{ category[0] | capitalize }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="sidebar-section">
    <h4>Contact:</h4>
    <ul class="sidebar-links">
      {% if site.sidebar.author.email %}
        <li>Email: <a href="mailto:{{ site.sidebar.author.email }}">{{ site.sidebar.author.email }}</a></li>
      {% endif %}
      {% if site.sidebar.author.address %}
        <li>Address: {{ site.sidebar.author.address }}</li>
      {% endif %}
    </ul>
  </div>
</aside>
