<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/sidebar.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/layout.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/banner.css' | relative_url }}">
</head>
<body>
  <div class="container-wrapper">
    <div class="site-banner">
      <img src="{{ '/assets/images/banner.jpg' | relative_url }}" 
          alt="Explore, Learn, Simplify & Grow Together - @TyataEssence"
          title="Explore, Learn, Simplify & Grow Together - @TyataEssence">
    </div>
    <div class="container" style="display: flex; flex-wrap: wrap; gap: 1rem;">
      <!-- Sidebar on the left -->
      {% include sidebar.html %}

      <!-- Main post content -->
      <main class="main-content" style="flex: 1 1 65%; padding-left: 1rem;">
        <h1>{{ page.title }}</h1>
        <p><small>{{ page.date | date: "%b %d, %Y" }}</small></p>

        {{ content }}
      </main>
    </div>

    <!-- Footer at the bottome -->
    {% include footer.html %}
  </div>
</body>
</html>
