<div class="container" style="display: flex; flex-wrap: wrap;">
  <main class="main-content" style="flex: 1 1 65%;">

    <h2>Personal</h2>
    <ul>
      {% assign personal_posts = site.categories.Personal | sort: 'date' | reverse %}
      {% for post in personal_posts %}
        <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>

    <h2>Technical</h2>
    <ul>
      {% assign tech_posts = site.categories.Technical | sort: 'date' | reverse %}
      {% for post in tech_posts %}
        <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>

    <h2>Trending</h2>
    <ul>
      {% assign trending_posts = site.categories.Trending | sort: 'date' | reverse %}
      {% for post in trending_posts %}
        <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>

  </main>
</div>
